.carousel-indicators {
    top: 100%;
}

.carousel-indicators .point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
}

.carousel-indicators .active {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #8bc34a;
}

.name-block {
    margin: auto;
}

.block-text {
    text-align: end;
    position: absolute;
    margin: -5% -10%;
    width: 300px;
}

.all-currency {
    display: flex;
    justify-content: space-between;
}

.title-name {
    opacity: 0.6;
    padding: 2%;
    text-align: center;
    font-size: 50px;
}

.right-works {
    margin: 17% auto;
}

.number-arrow {
    justify-content: flex-end;
    display: flex;
    align-items: baseline;
}

.number-left {
    font-size: 200px;
    opacity: 0.2;
}

.number-right {
    font-size: 200px;
    opacity: 0.2;
}

.arrow {
    opacity:0;
    display: flex;
    justify-content: space-around;
}

.card:hover> .arrow {
    opacity: 1;
}

.card:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.arrow-line>p {
    font-size: 40px;
    text-align: end;
    margin: -8% -4%;
}

.arrow-line-left>p {
    font-size: 40px;
     text-align: start;
    margin: -8% -4%;
}

.borger {
    border-top: 1px dashed black;
    width: 300px;
    border-right: 1px dashed;
    height: 50px;
}

.borger-left {
    border-top: 1px dashed black;
    width: 300px;
    border-left: 1px dashed;
    height: 50px;
}

.button {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    width: 200px;
    height: 30px;
    border: 1px black solid;
    opacity: 0.6;
    border-radius: 10px;
}

.recieve {
    background: white;
    display: none;
    width: 700px;
    height: 500px;
    border: 1px solid black;
    position: absolute;
    margin: 7% 18%;
    z-index: 1;
}

.name {
    display: flex;
    text-align: center;
    justify-content: center;
}

.img-button {
    margin: 5%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.button-img {
    border: 1px solid;
    width: 100px;
    height: 35px;
    background: antiquewhite;
    margin: 10% auto;
    text-align: center;
    border-radius: 20px;
}

.button-img:hover {
    cursor: pointer;
}

.card {
    width: 200px;
    margin: 5% auto;
    border: 1px solid black;
}

.recieve-button:hover {
    cursor: pointer;
    color: red;
}

.block-currentsy {
    background-color: beige;
    width: 20%;
}

.name {
    text-align: center;
    font-size: 25px;
}

.name-currentsy {
    display: flex;
    justify-content: space-between;
}

.icon-currentsy {
    display: flex;
}

.text-document {
    display: flex;
    justify-content: center;
}


