.all-currency {
    display: flex;
}

.title-name {
    opacity: 0.6;
    padding: 2%;
    text-align: center;
    font-size: 50px;
}

.work-currency {
    width: 68%;
    display: flex;
    margin: 0 auto;
}

.right-works {
    margin: 17% auto;
}

.number-arrow {
    margin: 0 0 15% 0;
    display: flex;
    align-items: baseline;
}

.number-arrow {
    text-align: end;
    display: flex;
    align-items: baseline;
}

.number-left {
    margin: 0 0 -50% 50%;
    font-size: 200px;

}

.number-right {
    margin: 0 0 -50% -30%;
    font-size: 200px;

}

.arrow {
    display: flex;
}

.borger {
    border-top: 1px dashed black;
     width: 300px;
}

.button {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    width: 200px;
    height: 30px;
    border: 1px black solid;
    opacity: 0.6;
    border-radius: 10px;
}

.recieve {
    background: white;
    display: none;
    width: 700px;
    height: 500px;
    border: 1px solid black;
    position: absolute;
}

.name {
    display: flex;
    text-align: center;
    justify-content: center;
}

.img-button {
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid black;
}

.recieve-button:hover {
    cursor: pointer;
    color: red;
}